.textbox {
    margin-right: 5px;
}
.dropdown-options {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dropdown-option {
    padding: 2px;
    border: 1px solid #ffffff;
    cursor: pointer;
}
